
<h1 class="text-center">Get a Qute from your Local Courier!</h1>

<form action="https://formspree.io/co.nwcourier@gmail.com" method="POST">
  <input type="hidden" name="_subject" value="Get A Quote!" />
  <div  class="form-row">
    <div class="form-group col-md-6">
      <label for="contact">Contact Name:</label>
      <input type="text" name="name" class="form-control" id="contact" placeholder="Contact Name">
    </div>
    <div class="form-group col-md-6">
      <label for="company">Company:</label>
      <input type="text" name="company" class="form-control" id="company" placeholder="Company">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Contact Email:</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Contact Email">
    </div>
    <div class="form-group col-md-6">
      <label for="phone">Contact Phone:</label>
      <input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">Pick-Up City:</label>
      <input type="text" name="city" class="form-control" id="city">
    </div>
    <div class="form-group col-md-6">
      <label for="area">Service Area:</label>
      <select id="area" name="service-area" class="form-control">
        <option selected>Select</option>
        <option>Local</option>
        <option>Extended-Local</option>
        <option>Regional</option>
        <option>Regional-Rush</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea name="message" class="form-control" id="message" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-orange">Get A Quote</button>
</form>
